{% extends 'base.html' %}


{% block content %}


<h1>ادارة تطبيق قروباتي !!</h1>
<div class="cart-row">
    <a class="btn btn-outline-primary " href="{% url 'Report' %}"> البلاغات</a>
    <a class="btn btn-outline-primary " href="{% url 'Report' %}"> الاقسام</a>
    <a class="btn btn-outline-primary " href="{% url 'Report' %}"> الفئات</a>
    <a class="btn btn-outline-primary " href="http://127.0.0.1:8000/admin/"> admin</a>

</div>
    
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            {% for item in groups %}
            <ol class="list-group list-group-numbered{{item.id}}">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="fw-bold"> {{item.name}}</div>
                    <span class="badge bg-primary rounded-pill">{{item.link}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="fw-bold"> 
                        {% if item.activation == False %}
                        <button data-group="{{ item.id }}" data-action="SE"
                            class="btn btn-outline-primary update-group">نشر</button>
                        {% endif %}
                        <a class="btn btn-outline-primary " href="#"> التعليقات</a>
                    </div>
                    <div class="fw-bold"> 
                        <button data-group="{{ item.id }}" data-action="DE"
                        class="btn btn-outline-danger update-group">حذف</button>
                    </div>
                </li>                           
            </ol>
            <br>
            {% endfor %}
        </div>
    </div>
    
{% endblock content %}
